.page {
    display: flex;
    flex-direction: column;
}

.header {
    background: grey;
    display: flex;
    justify-content: space-between;
    color: azure;
}

.header-nav {
    display: flex;
}